html, body{
  margin:0px;
  padding:0px;
/*  background: #b4def4;*/
  font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  color: #333333;
}

body{
  background-color:#FFFFFF;
  background-image: url("../images/parch.png");
  background-attachment:fixed;
  background-position:top;
/*  background-position-x:center;*/
  background-repeat:repeat-x;
  
}

a img,img{
  border:none;
  display:block;
}
 
a{
text-decoration:none;
font-weight:bold;
color:#038ad0;
}

a:hover{
  color:#136b99;
}

 
h1,h2,h3,h4,h5,h6{
  font-weight:bold
}

ul, li{
  list-style:none;
  list-style-type:none;
  margin: 0px 0px 10px 0px
  padding:10px;
}

.cards{
    margin: 5px;
    padding: 20px 1px 1px;
}


#nav_image {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border: 10px solid #333333;
    margin-bottom: 1px;
    margin-left: 15px;
    margin-right: 40px;
    width: 149px;
}

#nav_image:hover {
  -moz-box-shadow: 2px 2px 9px #136b99;
}

.container {
    -webkit-border-radius: 5px 5px 80px 5px;
    -moz-border-radius: 5px 5px 80px 5px;
    -moz-box-shadow: 0 3px 7px rgba(3, 2, 2, 0.4);
    background-color:#FFF;
    /*background-image: url("../images/parch.png");*/
    margin: 175px auto 0px; 
    padding: 50px;
    width: 700px;
    height: auto;
}

.card {
    -webkit-border-radius: 5px 5px 80px 5px;
    -moz-border-radius: 5px 5px 80px 5px;
    -moz-box-shadow: 0 3px 7px rgba(3, 2, 2, 0.4);
    background-color: #FFFFFF;
    height: auto;
    margin: 15px auto;
    padding: 0 40px 12px 20px;
    width: 670px;
}



.left {
  float:left;
}

.about{
  margin:35px;
  padding:0px;
  width:600px;

}

.icon {
  width:149px;
}

.title{
  font-weight: lighter;
  float:left;
}

.footer {
  margin: 100px auto 0;  /* ------------------------------------------>>>  This is what Centers a Div*/
  width: 250px;
  height: auto;
} 

.quiet{
  color: #777;
  font-style:italic;
  padding: 1px;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}


.nav{
  list-style:none;
  margin: 20px 0 0 0;
  padding:0;
/*  float:right;*/
}
.nav ul{
  margin:0px;
  padding:0px;
}

.nav li{
  float:left;
  padding:0px;
  display:block;
  height:40px;
}

.nav li a{
 display:block;
  padding:0px 30px;
  text-decoration:none;
  text-align:center;
  text-shadow: 0 2px 10px #136b99;
}

.nav li a:hover{
  color:#136b99;
}
